template(name='activities')
    .input-control.checkbox
        label
            input#hide_automated(type='checkbox' checked=hideAutomated)
            span.check
            | скрыть автоматические
    each activities
        .row
            .span2
                if agent
                    //- #{agent.name}
                    img(src=picture)
                    small #{agent.name}
                if employee
                    img(src=picture)
                    small #{employee.name}
                //- +avatar(shape="circle")
            .span10
                .balloon.right
                    .padding10
                        p #{description}
                        small
                            span {{as_calendar createdAt}}
                            //- span(data-livestamp=createdAt) #{createdAt}
                        small трудозатраты {{as_duration duration}}


template(name='formActivity')
    form
        input(type='hidden' name='ticket_id' value=_id)
        label
            | Описание действий
        .input-control.textarea
            textarea(name='description')
        label
            | длительность
        .input-control.text.size2
            input(type='text' name='duration' value='00:05')
        .input-control
            input.default(type='submit')