template(name='Agents')
	h1 Агенты
	each agents
		.panel.agents
			.panel-header
				img(src=services.google.picture)
				| #{profile.name} #{services.google.email} #{roles}
				a(href="/agents/#{_id}")
					i.icon-pencil
			.panel-content
		if profile.active
			| активен

template(name='newAgent')
	h1 Новый сотрудник
	+agentForm

template(name='editAgent')
	h1 Изменить сотрудника
	+agentForm

template(name='agentForm')
	form
		.input-control
			label
				| ФИО
				input(type='text' name='name' value=profile.name)
		.input-control
			label
				| стоимость часа
				input(type='text', name='cost_per_hour' value=profile.cost_per_hour)
		.input-control.checkbox
			label
				input(type='checkbox' name='active' checked=profile.active)
				span.check
				| активен
		.input-control
			input(type='submit', value='Сохранить')