template(name='clients')
    .row
        h1 Все клиенты
        each clients
            +client
    .row
        .selected 
            h2 #{selected_client.name}
    
    +contentFor('navbar')
        li
            a(href='/clients/new') 
                i.icon-file
                | Добавить
    +contentFor('breadcrumbs')
        li
            a(href='/clients') Клиенты
    
    if selected_client
        +contentFor('navbar')
            li
                a(href='/clients/new') Новый клиент
            li.element-divider
            li
                a(href="/clients/#{selected_client._id}/employees") Сотрудники
            li
                a(href="/clients/#{selected_client._id}") SLA
                


template(name='client')
    .tile.bg-blue.double
        .tile-content.icon
            i.icon-address-book
        .tile-status
            span.name #{name}
         .brand
             .badge 5
    

template(name='editClient')
    h1 Клиент #{name}
    
    table.table.slas
        each slas
            tr
                td #{name}
                td {{to_duration response}}
                td {{to_duration resolve}}
                td
                    a.removeSla(data-client-id="{{../_id}}")
                        i.icon-remove
    //- a.addSla Добавить SLA
    h2 Доступные SLA
    table.table
        each available_slas
            tr
                td #{name}
                td
                    a.addThisSla(data-client-id="{{../_id}}")
                        i.icon-upload-3

template(name='selectSLA')
    select(name='slas')
        each slas
            option(value=_id) #{name}

template(name='newClient')
    h1 Новый клиент
    form
        label Название клиента
        .input-control
            input(name='name', type='text')
        .input-control
            input(type='submit')

template(name='clientEmployees')
    +contentFor('navbar')
        li
            a(href="./employees/new") Новый сотрудник
    +contentFor('breadcrumbs')
        li
            a(href='/clients') Клиенты
        li
            a(href="/clients/#{_id}") #{name} #{_id}
    h1 Сотрудники клиента #{name}
    each employees
        +employee
    
            
        

template(name='employee')
    .tile.double
        .tile-content
           span #{name}
           span #{position}
           span #{email}
           span #{phone}
        .tile-status
            span #{active}

template(name='newClientEmployee')
    h1 Новый сотрудник в #{name}
    form
        label ФИО сотрудника
        .input-control
            input(name='name', type='text')
        label Должность
        .input-control
            input(name='position', type='text')
        label email
        .input-control
            input(name='email', type='email')
        label телефон
        .input-control
            input(name='phone', type='phone')
        .input-control
            input(type='submit')