template(name='Problems')
	h1 Это проблемы
	table.table
		each problems
			tr
				td #{description}
				td #{client.name}
				td #{sla.name}
				td 
					a(href="/problems/#{_id}") #{status_locale}
				td 
					span {{as_calendar createdAt}}
				td
					a.remove(href='#') удалить
template(name='problemIncident')
	h3 
		a(href="/tickets/#{_id}") Инцидент #{doc_id}
	
	p #{description}
	span {{as_calendar createdAt}}

template(name='showProblem')
	form
		h2 Связанные инциденты
		each tickets
			+problemIncident

		label Описание проблемы
		.input-control.textarea
			textarea(name='description')
				|#{description}
		label Обходное решение
		.input-control.textarea
			textarea(name='workaround')
		label Решение проблемы
		.input-control.textarea
			textarea(name='solution')
		.input-control.radio
			label
				input(type='radio' name='status' value='open' checked=isOpen)
				span.check
				|решение не найдено
		.input-control.radio
			label
				input(type='radio' name='status' value='workaround' checked=isWorkaround)
				span.check
				|найдено обходное решение
		.input-control.radio
			label
				input(type='radio' name='status' value='solved' checked=isSolved)
				span.check
				|найдено решение
		.input-control
			input(type='submit')