template(name='slas')
	h1 SLAs
	table.table
		tr
			th название
			th инцидент реакция
			th инцидент решение
			th sr реакция
			th sr решение
		each slas
			tr
				td #{name}
				td {{to_duration incidents.response}}
				td {{to_duration incidents.resolve}}
				td {{to_duration service_requests.response}}
				td {{to_duration service_requests.resolve}}
				td
					a.remove
						i.icon-trash
						| удалить

	+contentFor('navbar')
		li
			a(href='/slas/new') 
				i.icon-file
				| Добавить

template(name='newSla')
	form
		label
			| Сервис
		.input-control.text.span4
			input(type='text' name='name' value=name)
		br
		fieldset
			legend Инциденты
			label
				| Время реакции
			.input-control.text.span2
				input(type='text' name='incident_response' value=response)
			br
			label
				| Время решения
			.input-control.text.span2
				input(type='text' name='incident_resolve' value=resolve)
		fieldset
			legend Запросы на обслуживание
			label
				| Время реакции
			.input-control.text.span2
				input(type='text' name='sr_response' value=response)
			br
			label
				| Время решения
			.input-control.text.span2
				input(type='text' name='sr_resolve' value=resolve)
			br
		.input-control
			input(type='submit', value='Сохранить SLA')
	+contentFor('breadcrumbs')
		li
			a(href='/slas') SLA
		li
			a(href='/slas/new') Новый SLA